[submodule "bundle/vim_rails"]
	path = bundle/vim_rails
	url = https://github.com/tpope/vim-rails.git
	ignore = untracked
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
	ignore = untracked
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
[submodule "bundle/commandt"]
	path = bundle/commandt
	url = https://github.com/wincent/Command-T.git
	ignore = untracked
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
	ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
	ignore = untracked
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/vim-scripts/Tagbar.git
	ignore = untracked
[submodule "bundle/nerdtree_vim"]
	path = bundle/nerdtree_vim
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/vim_wiki"]
	path = bundle/vim_wiki
	url = https://github.com/vim-scripts/vimwiki.git
	ignore = untracked
[submodule "bundle/repmo"]
	path = bundle/repmo
	url = https://github.com/vim-scripts/repmo.vim.git
	ignore = untracked
[submodule "bundle/tabular_vim"]
	path = bundle/tabular_vim
	url = https://github.com/godlygeek/tabular.git
	ignore = untracked
[submodule "bundle/vim_rake"]
	path = bundle/vim_rake
	url = https://github.com/tpope/vim-rake.git
	ignore = untracked
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/vim-scripts/SuperTab-continued..git
	ignore = untracked
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
	ignore = untracked
[submodule "bundle/vim_ruby"]
	path = bundle/vim_ruby
	url = https://github.com/vim-ruby/vim-ruby.git
	ignore = untracked
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = untracked
[submodule "bundle/vim_coffee"]
	path = bundle/vim_coffee
	url = https://github.com/kchmck/vim-coffee-script.git
	ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "bundle/git_vim"]
	path = bundle/git_vim
	url = https://github.com/motemen/git-vim.git
	ignore = untracked
[submodule "bundle/nrrw_rgn"]
	path = bundle/nrrw_rgn
	url = https://github.com/chrisbra/NrrwRgn.git
	ignore = untracked
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	ignore = untracked
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
	ignore = untracked
[submodule "bundle/vim_js"]
	path = bundle/vim_js
	url = https://github.com/pangloss/vim-javascript.git
	ignore = untracked
[submodule "bundle/jade"]
	path = bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
	ignore = untracked
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "bundle/threesom"]
	path = bundle/threesom
	url = https://github.com/sjl/threesome.vim.git
	ignore = untracked
[submodule "bundle/autotag"]
	path = bundle/autotag
	url = https://github.com/vim-scripts/AutoTag.git
	ignore = untracked
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
	ignore = untracked
